    <div class="topbar">
       <div class="fill">
         <div class="container">
           <a class="brand" href="#">Xerial</a>
           <ul class="nav">
             <li><a href="/">Home</a></li>
             <li><a href="/software/">Software</a></li>
             <li><a href="/silk/">Silk</a></li>
             <li><a href="/blog/">Blog</a></li>
             <li class="dropdown">
	       <a href="#" class="dropdown-toggle">About</a>
               <ul class="dropdown-menu">
		 <li><a href="/publication.html">Publication</a></li>
		 <li class="divider"></li>
		 <li><a href="/people.html">People</a></li>
	       </ul>
	     </li>
             <li><a href="#contact">Contact</a></li>
           </ul>
         </div>
       </div>
    </div>
