<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Xerial</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/style/css/bootstrap.css" rel="stylesheet">
    <link href="/style/css/docs.css" rel="stylesheet">
    <link href="/style/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/style/ico/favicon.ico">
    <link rel="apple-touch-icon" href="/style/ico/bootstrap-apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/style/ico/bootstrap-apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/style/ico/bootstrap-apple-touch-icon-114x114.png">
  </head>

<!-- 
  <style type="text/css">
    body {
      padding-top: 40px;
    }
  </style>
-->

  <body>

    <div class="topbar">
       <div class="fill">
         <div class="container">
           <a class="brand" href="#">Xerial</a>
           <ul class="nav">
             <li><a href="/">Home</a></li>
             <li><a href="/software.html">Software</a></li>
             <li><a href="/silk/">Silk</a></li>
             <li><a href="/blog/">Blog</a></li>
             <li class="dropdown">
	       <a href="#" class="dropdown-toggle">About</a>
               <ul class="dropdown-menu">
		 <li><a href="/publication.html">Publication</a></li>
		 <li class="divider"></li>
		 <li><a href="/people.html">People</a></li>
	       </ul>
 
	     </li>
             <li><a href="#contact">Contact</a></li>
           </ul>
         </div>
       </div>
    </div>

    <header class="jumbotron masthead" id="overview">
      <div class="inner">
	<div class="container"> 
          <h1>{{ page.title }}</h1>
	</div> 
      </div> 
    </header>

    <div class="container">
      <div class="row">
	{{ content }}
      </div>
      
      <footer>
        <p>&copy; Taro L. Saito 2012</p>
      </footer>
      
    </div> <!-- /container -->

    <script src="http://code.jquery.com/jquery-1.7.min.js"></script>
    <script src="http://autobahn.tablesorter.com/jquery.tablesorter.min.js"></script>
    <script src="/style/js/google-code-prettify/prettify.js"></script>
    <script>$(function () { prettyPrint() })</script>
    <script src="/style/js/bootstrap-dropdown.js"></script>
    <script src="/style/js/bootstrap-dropdown-app.js"></script>
    <script src="/style/js/bootstrap-twipsy.js"></script>
    <script src="/style/js/bootstrap-scrollspy.js"></script>
    <script src="/style/js/application.js"></script>
    
    {% include production/analytics.html %}
  </body>
</html>
